<!DOCTYPE html>
<html lang="en">
<head>
    {% resource meta.charset_utf8 %}
    <title>Batman Admin</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% resource css.twitter_bootstrap %}
    {% resource css.admin %}
    {% resource js.jquery %}
    {% resource js.admin %}
</head>
<body>
<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="#">Batman Admin</a>
            <ul class="nav">
                {% block menu %}{% endblock %}
            </ul>
            <form id="auth-form" action="" class="pull-right">
                <input class="input-small" id="login" type="text" placeholder="Username">
                <input class="input-small" id="password" type="password" placeholder="Password">
                <button class="btn">Sign in</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="page-header"><h1 id="greeting">Loading...</h1></div>
        <div class="row">
            <div class="span10">
                <h2></h2>
            </div>
            <div class="span4">
                <h3></h3>
            </div>
        </div>
    </div>
    <footer>
        <p style="text-align: center">
            <small>Powered by Batman-PHP</small>
        </p>
    </footer>
</div>
<!-- /container -->
</body>
</html>