<html>
<head>
    {% resource meta.charset_utf8 %}
    <title>Batman Admin Panel</title>
    {% resource css.twitter_bootstrap %}
    {% resource css.admin %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>