<html>
<head>
    {% resource meta.charset_utf8 %}
    <title>Users demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% resource css.twitter_bootstrap %}
    {% resource css.twitter_bootstrap_responsive %}
    <style type="text/css">

    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>