{% extends "skeleton/skeleton.html.twig" %}
{% block content %}
<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="#">Users list</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div>User {{ username }} added!</div>
        <div><a href="/users/">return</a></div>
    </div>
</div>
{% endblock %}