{% extends "skeleton/Skeleton.html.twig" %}
{% block content %}
<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="#">Users list</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <ul>
            {% for user in users %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
        <form action="/users/add" method="post">
            <div><input style="height: 25px" name="username" placeholder="Add new user"></div>
            <div><input type="submit"></div>
        </form>
    </div>
</div>
{% endblock %}